@charset "UTF-8";
/* * * * * * * * * * * * * * * * * * * *
*
* Main
*
* * * * * * * * * * * * * * * * * * * */
body {
  background-color: #ecd2c9;
  font-family: "Barlow Semi Condensed", sans-serif;
  color: #31549e;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-x: hidden; }

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem;
  flex: 1; }

a {
  text-decoration: none;
  color: #31549e; }

a:hover {
  color: #a6c8d1; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

ol {
  padding: 0;
  margin: 0; }

.italic {
  font-style: italic; }

/* Header */
.header {
  padding: 2rem; }

.logo {
  font-weight: bold;
  font-size: 1.15rem; }

@media screen and (min-width: 1280px) {
  .logo {
    font-size: 1.35rem; }

  .header {
    padding: 2rem 3rem; } }
.menu {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  position: absolute;
  top: 2rem;
  right: -1rem; }

.menu__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #31549e; }

.menu__hamb {
  display: block;
  margin-top: -2px;
  margin-left: 10px;
  position: relative; }

.menu__hamb-1 {
  display: block;
  width: 20px;
  height: 2px;
  background: #31549e;
  margin-bottom: 6px;
  transition: all 300ms ease; }

.menu__hamb-2 {
  display: block;
  width: 16px;
  height: 2px;
  margin-left: 4px;
  background: #31549e;
  transition: all 300ms ease; }

.menu__link--active .menu__hamb-1 {
  transform: rotate(-45deg) translateY(5px);
  height: 1.5px; }

.menu__link--active .menu__hamb-2 {
  transform: rotate(45deg) translateY(-5px);
  width: 20px;
  height: 1.5px;
  margin-left: 0; }

.nav {
  text-align: right;
  opacity: 0;
  transition: all 100ms ease-out;
  position: relative;
  left: -82px;
  top: 26px; }

.visible {
  opacity: 1;
  display: block; }

.visible .nav__item:nth-child(1) {
  animation: FadeDown 100ms; }
.visible .nav__item:nth-child(2) {
  animation: FadeDown 200ms; }

@keyframes FadeDown {
  from {
    transform: translateY(-10px); }
  to {
    transform: translateY(0); } }
.nav__item {
  margin-bottom: 8px; }

.nav__item-link {
  color: #31549e;
  text-decoration: none; }
  .nav__item-link:hover {
    color: #a6c8d1; }

@media screen and (min-width: 1280px) {
  .menu {
    font-size: 1.15rem;
    right: -0.5rem; }

  .nav {
    left: -89px; } }
/* Greeting Styles */
.loop {
  margin-top: 10rem;
  height: 160px;
  overflow: hidden;
  width: 100%;
  font-size: 35px;
  line-height: 40px;
  position: relative; }
  .loop__bracket-left, .loop__bracket-right {
    position: absolute;
    top: 0;
    -webkit-animation-name: opacity;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-name: opacity;
    animation-duration: 2s;
    animation-iteration-count: infinite; }
  .loop__bracket-left {
    left: 0.25rem; }
  .loop__bracket-right {
    right: 0.25rem; }
  .loop__container {
    font-weight: 600;
    overflow: hidden;
    height: 40px; }
    .loop__container__list {
      margin-top: 0;
      text-align: center;
      list-style: none;
      -webkit-animation-name: change;
      -webkit-animation-duration: 10s;
      -webkit-animation-iteration-count: infinite;
      animation-name: change;
      animation-duration: 10s;
      animation-iteration-count: infinite; }
      .loop__container__list__item {
        line-height: 45px;
        margin: 0; }

@media screen and (min-width: 768px) {
  .loop {
    font-size: 50px;
    line-height: 55px; }
    .loop__bracket-left {
      left: 2rem; }
    .loop__bracket-right {
      right: 2rem; }
    .loop__container {
      height: 55px; }
      .loop__container__list__item {
        line-height: 55px; } }
@media screen and (min-width: 1280px) {
  .loop__bracket-left {
    left: 5rem; }
  .loop__bracket-right {
    right: 5rem; } }
@-webkit-keyframes opacity {
  0%,
  100% {
    opacity: 0; }
  50% {
    opacity: 1; } }
@-webkit-keyframes change {
  0%,
  12.66%,
  100% {
    transform: translate3d(0, 0, 0); }
  16.66%,
  29.32% {
    transform: translate3d(0, -25%, 0); }
  33.32%,
  45.98% {
    transform: translate3d(0, -50%, 0); }
  49.98%,
  62.64% {
    transform: translate3d(0, -75%, 0); }
  66.64%,
  79.3% {
    transform: translate3d(0, -50%, 0); }
  83.3%,
  95.96% {
    transform: translate3d(0, -25%, 0); } }
@keyframes opacity {
  0%,
  100% {
    opacity: 0; }
  50% {
    opacity: 1; } }
@keyframes change {
  0%,
  12.66%,
  100% {
    transform: translate3d(0, 0, 0); }
  16.66%,
  29.32% {
    transform: translate3d(0, -25%, 0); }
  33.32%,
  45.98% {
    transform: translate3d(0, -50%, 0); }
  49.98%,
  62.64% {
    transform: translate3d(0, -75%, 0); }
  66.64%,
  79.3% {
    transform: translate3d(0, -50%, 0); }
  83.3%,
  95.96% {
    transform: translate3d(0, -25%, 0); } }
/* Footer */
.footer {
  text-align: center; }

.contact {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 5rem;
  margin-bottom: 1rem; }

.icon {
  width: 27px;
  height: auto;
  fill: #31549e; }

.icon:nth-of-type(odd) {
  margin-right: 0.5rem; }

.icon:hover {
  fill: #a6c8d1; }

.social {
  margin-top: 0.5rem; }

@media screen and (min-width: 768px) {
  .icon {
    width: 33px;
    margin-bottom: 1rem; } }
/* * * * * * * * * * * * * * * * * * * *
*
* About Page
*
* * * * * * * * * * * * * * * * * * * */
.intro {
  text-align: center; }

@media screen and (min-width: 768px) {
  .intro {
    margin-left: 5rem;
    margin-right: 5rem; } }
/* * * * * * * * * * * * * * * * * * * *
*
* Archive Page
*
* * * * * * * * * * * * * * * * * * * */
.work {
  font-size: 2rem; }
  .work__list {
    counter-reset: work-counter; }
  .work__item:nth-of-type(1) {
    margin-top: 0.5rem; }
  .work__item {
    margin-bottom: 1rem;
    /*
        &__link-search{
            &:before {
                content: url(../imgs/musica-searcher.svg);
                display: inline-block;
                width: 20px;
                padding: 0 0.75rem;
            }
        }
        */ }
    .work__item__link {
      display: inline-block; }
      .work__item__link:before {
        content: counter(work-counter,decimal-leading-zero);
        counter-increment: work-counter;
        font-size: 1rem;
        padding: 0 1rem; }
      .work__item__link:hover:before {
        content: "[";
        font-size: 2rem;
        padding-right: 1rem; }
      .work__item__link:hover:after {
        content: "]";
        padding-left: 1rem; }

/* Search styles */
.search {
  display: flex;
  position: relative;
  margin-top: 3rem; }

.search-icon {
  align-self: center;
  width: 20px;
  height: 100%;
  padding: 0 0.75rem;
  fill: #31549e;
  position: absolute; }

.search-bar {
  background: transparent;
  padding-left: 50px;
  padding-bottom: 10px;
  border: none;
  width: 100%; }
  .search-bar::placeholder {
    color: #31549e;
    font-size: 2rem; }

.search-border {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  top: 100%;
  background: #31549e;
  transform: scaleX(0);
  transition: transform 0.5s;
  transform-origin: 0% 50%; }

.search-bar:focus {
  outline-width: 0; }

/*
.search-bar:focus + .work {
  //****************************************** focus on search bar should increase margin on work list
  margin-top: 3rem;
}
*/
.search-bar:focus + .search-border,
.search:focus .search-border {
  transform: scaleX(1); }

input.search-bar[type="text"] {
  font-size: 2rem;
  color: #31549e; }

/* * * * * * * * * * * * * * * * * * * *
*
* Single Page
*
* * * * * * * * * * * * * * * * * * * */
.work-detail__image {
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .work-detail__image > img {
    width: 100%; }

@media screen and (min-width: 768px) {
  .work-detail__desc {
    margin-left: 5rem;
    margin-right: 5rem; }
  .work-detail__image {
    margin-top: 10rem; }
    .work-detail__image > img {
      width: 50%; } }
@media screen and (min-width: 1280px) {
  .work-detail__desc {
    margin-left: 11rem;
    margin-right: 11rem; }
  .work-detail__image {
    margin-top: 12rem;
    flex-direction: row;
    flex-wrap: wrap; }
    .work-detail__image > img {
      width: 30%; } }
/*
* Sidebar 
*/
.sidebar {
  display: none; }

@media screen and (min-width: 1280px) {
  .sidebar {
    display: inline-block;
    margin-top: 5rem;
    width: 17rem; }
    .sidebar__widget {
      margin-bottom: 4rem;
      /* Email Subscription */
      /*
    &__recent {
      &:hover {
        &:before {
          content: "[";
          font-size: 1rem;
        }

        &:after {
          content: "]";
          font-size: 1rem;
        }
      }
    }*/ }
      .sidebar__widget__title {
        font-weight: bold;
        font-size: 1.25rem;
        margin: 0;
        margin-bottom: 1rem; }
      .sidebar__widget__email__submit[type="submit"] {
        height: 35px;
        width: 60px;
        background: #31549e;
        color: #ecd2c9;
        border-radius: 5px;
        border: none; }
      .sidebar__widget__email__input::placeholder {
        color: #31549e; }
      .sidebar__widget__email__input:focus {
        outline-width: 0; }
      .sidebar__widget__email__input[type="text"] {
        width: 200px;
        height: 30px;
        color: #31549e;
        background: transparent;
        border: 0;
        border-bottom: 2px solid #31549e; }
      .sidebar__widget__link {
        display: block;
        margin-bottom: 0.5rem; }
      .sidebar__widget__tag {
        display: inline-block;
        text-align: center;
        border-radius: 7px;
        background-color: #31549e;
        color: #ecd2c9;
        min-width: 3rem;
        padding: 0.5rem;
        margin-right: 0.5rem; }
        .sidebar__widget__tag:hover {
          background-color: #a6c8d1;
          color: #31549e; }

  .main-sidebar {
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr;
    grid-template-areas: "main main main sidebar"; }

  .main {
    grid-area: main; }

  .sidebar {
    grid-area: sidebar; }

  .loop-sidebar__container:after {
    right: 29rem; } }
/*
* General
*/
.general {
  margin-bottom: 3rem;
  /* UL */ }
  .general__ul > li:before {
    content: "•";
    display: inline-block;
    color: #31549e;
    padding-right: 1rem; }
  .general__ol {
    margin-left: 1rem; }
    .general__ol > li {
      padding-left: 0.5rem; }
  .general__table {
    border-collapse: collapse;
    border: 1px solid #31549e;
    text-align: center;
    width: 100%; }
  .general__image > img {
    max-width: 100%; }
  .general__image > figcaption {
    font-size: 0.75rem; }
  .general__link {
    text-align: right;
    font-size: 0.75rem; }
  .general__bq {
    margin: 0 1rem;
    font-size: 1rem;
    border-left: 3px solid #31549e;
    padding-left: 1rem; }
  .general__button {
    cursor: pointer;
    background-color: #31549e;
    color: #ecd2c9;
    padding: 1rem 3rem;
    border-radius: 5px;
    border: none; }
    .general__button:hover {
      background-color: #a6c8d1;
      color: #31549e; }

th {
  border: 1px solid #31549e;
  padding: 0.5rem;
  background: #a6c8d1; }

td {
  border: 1px solid #31549e;
  padding: 0.5rem; }

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%; }

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

@media screen and (min-width: 768px) {
  .general {
    margin-left: 5rem;
    margin-right: 5rem; }
    .general__image > figcaption {
      font-size: 1rem; }
    .general__link {
      font-size: 1rem; } }
@media screen and (min-width: 1280px) {
  .general {
    margin-left: 11rem;
    margin-right: 11rem; }
    .general__bq {
      margin: 0 3rem; } }

/*# sourceMappingURL=main.css.map */
